/*для тега*/
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
/*для класса*/
.my_class{
    background-color: rgb(24, 134, 24);
}
/*курсив*/
.my_class_text{
    font-style: oblique;
}